camelot-py==1.0.0
docx2txt==0.8
ipykernel==6.29.5
langchain-ollama==0.2.2
ollama==0.4.7
openai==0.28.0
pandas==2.2.3
pydantic==2.10.5
PyMuPDF==1.25.2
PyPDF2==3.0.1
requests==2.32.3
uvicorn==0.34.0
python-dotenv